
<div class="row justify-content-md-center text-center" style="padding-top: 6%;">
    <div class="col-3">
        <main class="form-signin">
            <form>
              <img src="/assets/imagens/logo_alpha_thumb.png" alt="" width="300">
              <br>
              <br>
              <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Senha</label>
              </div>
              <br>
              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Esqueci minha senha
                </label>
              </div>
              <a class="w-100 btn btn-lg btn-primary" type="submit" [routerLink]="'app-home-tutor'">Entrar</a>
              <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
            </form>
          </main>
    </div>    
</div>
