<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="/assets/imagens/logo_alpha_thumb.png" height="70" class="mr-4">
    </ng-template>
    <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search" class="form-control">
    </ng-template>
</p-menubar>

<section>
    <div class="row" style="padding-top: 30px;">

        <div class="card" style="width: 20rem; margin: 15px;">
            <img src="/assets/imagens/cachorro.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bento</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          
          <div class="card" style="width: 20rem; margin: 15px;">
            <img src="/assets/imagens/gato.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lolita</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    </div>
</section>