<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="/assets/imagens/logo_alpha_thumb.png" height="70" class="mr-4">
  </ng-template>
  <ng-template pTemplate="end">
    <input type="text" pInputText placeholder="Search" class="form-control">
  </ng-template>
</p-menubar>

<section>
  <div class="flex">
    <div class="row" style="padding-top: 30px;">

      <div class="card" style="width: 14rem; margin: 15px;">
        <img src="/assets/imagens/cachorro.jpg" class="card-img-top" alt="..." style="margin-top: 15px;">
        <div class="card-body">
          <h5 class="card-title">Bento</h5>
          <p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the
              card's content.</small></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 14rem; margin: 15px;">
        <img src="/assets/imagens/gato.jpg" class="card-img-top" alt="..." style="margin-top: 15px;">
        <div class="card-body">
          <h5 class="card-title">Lolita</h5>
          <p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the
              card's content.</small></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>
  </div>
</section>